<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAnimation">

        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="shortcut"
                    android:scheme="testanimation" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.xml.sharedelement.SharedElementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.xml.tinder.TinderActivity"
            android:exported="false" />

        <activity
            android:name=".ui.compose.tinderCompose.TinderComposeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.compose.joystick.JoystickActivity"
            android:exported="false" />

        <activity
            android:name=".ui.xml.snackbar.SnackbarActivity"
            android:exported="false" />

        <activity
            android:name=".ui.xml.modale.ModalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.xml.lottie.LottieActivity"
            android:exported="false" />

        <activity
            android:name=".ui.compose.lottie.LottieComposeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.compose.shortcuts.ShortcutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.xml.program.ProgramActivity"
            android:exported="false" />
        <activity
            android:name=".ui.xml.program.OptimizedProgramActivity"
            android:exported="false" />

        <activity
            android:name=".ui.compose.tabbar.TabBarComposeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.compose.changeicon.ChangeIconActivity"
            android:exported="false" />
        <activity
            android:name=".ui.compose.designs.DesignHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.compose.video.VideoActivity"
            android:exported="false" />

        <!--   Alias for icons     -->
        <activity-alias
            android:name=".ui.menu.MenuActivity_Default"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.menu.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.menu.MenuActivity_Cocktail"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cocktail"
            android:label="@string/app_name"
            android:targetActivity=".ui.menu.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.menu.MenuActivity_Tea"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_tea_launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.menu.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.menu.MenuActivity_IceCream"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_ice_cream"
            android:label="@string/app_name"
            android:targetActivity=".ui.menu.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.menu.MenuActivity_Wine"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_wine"
            android:label="@string/app_name"
            android:targetActivity=".ui.menu.MenuActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>